<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Concert List</title>
</head>
<body>
<h1>Concert List</h1>
<table>
    <thead>
    <tr>
        <th>Concert ID</th>
        <th>Artist</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="concert : ${concerts}">
        <td><a th:href="@{/event-viewer/concerts/{concertId}(concertId=${concert.concertId})}" th:text="${concert.concertId}">af05fc05-2de1-46d8-9568-01381029feb7</a></td>
        <td th:text="${concert.artist}">Jittery Pigs</td>
    </tr>
    </tbody>
</table>
</body>
</html>
