<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title><span th:text="${aggregateName}">Concert</span> List</title>
    <link rel="stylesheet" th:href="@{/site.css}">
</head>
<body>
<header><a href="/">Back Home</a></header>
<h1><span th:text="${aggregateName}">Concert</span> List</h1>
<table>
    <thead>
    <tr>
        <th><span th:text="${aggregateName}">Concert</span> ID</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="aggregate : ${aggregates}">
        <td><a th:href="@{{urlPath}/{aggregateId}(urlPath=${urlPath}, aggregateId=${aggregate.aggregateId})}" th:text="${aggregate.aggregateId}">af05fc05-2de1-46d8-9568-01381029feb7</a></td>
        <td th:text="${aggregate.description}">Aggregate/Projection Description</td>
    </tr>
    </tbody>
</table>
</body>
</html>
