<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Choose a Projection</title>
    <link rel="stylesheet" th:href="@{/site.css}">
</head>
<body>
<header><a href="/">Back Home</a></header>
<h1>Choose a Projection to Time Travel</h1>
<ul class="choice-list">
    <li th:each="projectionMetadata: ${projections}">
        <a href="#"
           th:href="@{${projectionMetadata.urlPath}}"
           th:text="${projectionMetadata.aggregateName}">Aggregate</a>
    </li>
</ul>
</body>
</html>
