<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Concert</title>
</head>
<body>
<h1 th:text="${concert.artist}">Jittery Pigs</h1>
<small th:text="${concert.concertId}">af05fc05-2de1-46d8-9568-01381029feb7</small>
<h2 th:text="${concert.showDate}">August 3, 2025</h2>
<h3 th:text="${concert.showTime}">8:00PM</h3>
<h2 th:text="${concert.ticketPrice}">$38</h2>
<form th:action="@{/concerts/{id}/concerts(id=${concert.concertId})}"
      th:object="${ticketOrderForm}"
      method="post">
    <label th:for="${#ids.next('customerId')}">Customer ID:
    <input type="text" th:field="*{customerId}">
    </label>
    <label th:for="${#ids.next('quantity')}">Number of tickets:
    <input type="number" th:field="*{quantity}" min="1" required>
    </label>
    <button type="submit">Buy Tickets</button>
</form>
</body>
</html>
