<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Events</title>
</head>
<body>
<h1>On-Sale Events</h1>
<table>
    <thead>
    <tr>
        <th>Concert ID</th>
        <th>Artist</th>
        <th>Date</th>
        <th>Time</th>
        <th>Tickets</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="concert : ${concerts}">
        <td th:text="${concert.id}"></td>
        <td th:text="${concert.artist}"></td>
        <td th:text="${concert.showDate}"></td>
        <td th:text="${concert.showTime}"></td>
        <td><a th:href="@{/concerts/{id}(id=${concert.id})}">Buy Tickets</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
